* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    border: none;
}

body {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    min-height: 100vh;
    background-color: #333;
    font-size: 14px;
    padding-bottom: 30px;
    padding-right: 30px;
}

img {
    vertical-align: baseline;
    width: 40px;
}

#myContact {
    height: 0px;
    overflow: hidden;
    transition: all ease 0.5s;
}

.icon-bar {
    width: 70px;
    border-radius: 22px;
    background-color: #a51e24;
    display: inline-table;
}

.icon-bar a {
    cursor: pointer;
    display: block;
    text-align: center;
    padding: 16px;
    color: white;
    font-size: 27px;
    border-radius: 22px;
    background-color: #a51e24;
    border: 2px solid #a51e24;
}

.icon-bar a:hover {
    border-radius: 22px;
    background-color: #a51e24;
    border: 2px solid #fff;
}

#myContact.show {
    height: 228px;
}

@-webkit-keyframes hvr-ripple-out {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
    }
}

@keyframes hvr-ripple-out {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
    }
}

.hvr-ripple-out {
    display: inline-block;
    vertical-align: middle;
    border-radius: 100%;
    position: relative;
}

.hvr-ripple-out:before {
    content: '';
    position: absolute;
    border-radius: 22px;
    border: 16px solid #fff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    z-index: -1;
}

.hvr-ripple-out:hover:before {
    -webkit-animation-name: hvr-ripple-out;
    animation-name: hvr-ripple-out;
}